:root {
  --ff-overpass: "Overpass";

  --clr-orange: #fb7413;
  --clr-white: #ffffff;
  --clr-grey: #959eac;
  --clr-darkBlue: #252d37;
  --clr-veryDarkBlue: #121417;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-veryDarkBlue);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 10px;
}

#rate,
#thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    200deg,
    rgba(37, 45, 55, 1) 0%,
    rgb(28, 32, 37) 100%
  );
  width: 300px;
  max-width: 300px;
  padding: 20px;
  border-radius: 20px;
}

#thanks {
  display: none;
  align-items: center;
}

.star {
  margin-bottom: 20px;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--clr-darkBlue);
}

.checkout {
  margin-top: 20px;
  margin-bottom: 30px;
}

h1 {
  font-family: var(--ff-overpass);
  color: var(--clr-white);
  margin: 10px 0;
}

p {
  font-family: var(--ff-overpass);
  font-weight: 400;
  font-size: 15px;
  color: var(--clr-grey);
}

.btn-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  cursor: pointer;
}

.rating {
  font-family: var(--ff-overpass);
  background-color: var(--clr-darkBlue);
  color: var(--clr-grey);
  width: 40px;
  height: 40px;
  border: 1px solid var(--clr-veryDarkBlue);
  border-radius: 50%;
  cursor: pointer;
}

.rating:hover {
  background-color: var(--clr-orange);
  color: var(--clr-darkBlue);
}

.active {
  background-color: var(--clr-white);
  color: var(--clr-darkBlue);
}

#submit {
  margin-top: 25px;
  background-color: var(--clr-orange);
  color: var(--clr-darkBlue);
  font-family: var(--ff-overpass);
  font-weight: 700;
  border: 1px solid var(--clr-veryDarkBlue);
  border-radius: 20px;
  padding: 8px;
  letter-spacing: 3px;
}

#submit:hover {
  background-color: var(--clr-white);
}

#selection {
  font-family: var(--ff-overpass);
  font-size: 15px;
  color: var(--clr-orange);
  background-color: var(--clr-darkBlue);
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 20px;
}

.end {
  text-align: center;
  margin-bottom: 15px;
}
